td.cell {
    border: 1px solid #000000;
    height: 3.75vh;
    width: 3.75vh;
    background-color: #ffffff;
}

.header {
    display: inline;
    margin-left: 20px;
}

.redscore {
    font-size: 60px;
    color: #ff0000;
}

.bluscore {
    font-size: 60px;
    color: #0000ff;
}

#winner {
    font-size: 60px;
}

img{
    height: 7.5vh;
    width: 7.5vh;
}

h1 {
    margin: 0px;
}

p {
    margin: 0px;
}

a, .submitButton {
    text-decoration: none;
    color: #000000;
    padding: 3px 5px;
    border: 1px solid #000000;
    text-align: center;
    height: 17px;
    width: 97.11px;
    transition: 0.5s;
}

a:hover, .submitButton:hover {
    color: #c0c0c0;
    background-color: #000000;
}

.score {
    padding: 0px 0px 0px 20px;
}

body {
    background-color: #c0c0c0;
}
